@import "@/assets/Scss/_font.scss";

// Colors
$primary: #b8a085 !default;
$secondary: #c8c0af !default;
$black: #000000 !default;
$light-black: #414042 !default;
$white: #fff !default;
$dark-brown: #8c7d68 !default;
$light-grey: #858585 !default;
$grey: #7c7c7c !default;
$dark-choco: #63504a !default;
$lightest-grey: #9e9e9c !default;
$light-pink: #f0ebe1 !default;
$orange: #d6916c !default;
$light-brown: #735d3f !default;
$success-green: #60c523 !default;
$maroon: #ac957e !default;

// Font Family
$butler: butler, sans-serif;
$poppins: Poppins, sans-serif;
$noto-serif: noto-serif, sans-serif;
